/**
 * Put below your own bootstrap variables
 *
 * Bootstrap variables list: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
 * Set your own theme: https://pikock.github.io/bootstrap-magic/app/index.html#!/editor
 */

/*
Colors
 */
$black_color: #000000;
$white_color: #ffffff;
$blue_color: #0e576d;
$light_blue_color: #0080a1;
$dark_blue_color: #064254;
$dark_orange_color: #e54d1d;
$light_orange_color: #ffaa3d;
$yellow_color: #feee4e;
$link_hover_color: #24a6cd;
$submenu_link_hover_color: #00a9cf;
$blockquote_blue_color: #106980;
$blockquote_orange_color: $dark_orange_color;
$grey_color: #d8d8d8;
$light_grey_color: #e5e5e5;

/* Fonts */
/* Prompt font */
$font_family_prompt_light: "Prompt Light", sans-serif;
$font_family_prompt: "Prompt Regular", sans-serif;
$font_prompt_medium: "Prompt Medium", sans-serif;
$font_prompt_semibold: "Prompt SemiBold", sans-serif;
$font_prompt_medium_italic: "Prompt MediumItalic", sans-serif;

/* Montserrat font */
$font_family_montserrat_light: "Montserrat Light", sans-serif;
$font_family_montserrat: "Montserrat", sans-serif;
$font_montserrat_medium: "Montserrat Medium", sans-serif;
$font_montserrat_bold: "Montserrat Bold", sans-serif;
