::backdrop {
  background-color: hsl(0 0% 0% / 35%);
  backdrop-filter: blur(2px);
}
.about {
  .team-member {
    > img {
      margin-bottom: 1em;
      border-radius: var(--radius);
      cursor: pointer;
    }
    margin-bottom: 1em;
    svg {
      fill: var(--black);
      width: 1em;
      height: 1em;
    }
    .role {
      margin-bottom: 0.5em;
    }
    .contact-group {
      margin: 0 0 1em;
      padding: 0;
      display: flex;
      li {
        margin: 0 1em 0 0;
        padding: 0;
        &::before {
          display: none;
        }
        a {
          border: none;
        }
      }
    }
    dialog {
      border: 0;
      border-radius: var(--radius);
      margin: auto;
      padding: 2rem;
      padding: clamp(1.5em, 5%, 2rem);
      position: fixed;
      figure {
        margin-bottom: 1em;
        img {
          border-radius: var(--radius);
        }
      }
      button {
        position: absolute;
        top: 1em;
        right: 1em;
        background-color: transparent;
        font-size: 1.5em;
        padding: 0;
        margin: 0;
      }
      p {
        color: var(--white);
      }
      svg {
        fill: var(--white);
      }
    }
  }
}

@media screen and (min-width: 30em) {
  .about {
    .lumis-values {
      > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em 4em;
      }
    }
  }
}
@media screen and (min-width: 48em) {
  .about {
    .lumis-values {
      > div {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
