body.lumis-international-brochure,
body.authorized-representative-brochure {
  --icon-size: 5em;
  .hero-section,
  .box-1,
  .box-2,
  .box-3,
  .box-4 {
    margin-bottom: 3em;
  }
  background-color: var(--light-blue) !important;
  .lead-text {
    font-weight: 700;
    margin-bottom: 0.25em;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    &:before {
      display: none;
    }
  }
  li {
    img {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }
  .box-1,
  .box-2 {
    background-color: var(--white);
    padding: 5em;
    border-radius: var(--radius);
  }
  .box-2 {
    h2,
    p {
      color: var(--orange) !important;
      margin-bottom: 0;
    }
    li {
      display: grid;
      grid-template-columns: var(--icon-size) 1fr;
      gap: 3em;
      align-items: center;
      margin-bottom: 1em;
    }
  }
  .box-3,
  .box-4 {
    .intro-image-text {
      display: grid;
      > * {
        grid-area: 1/1/2/2;
      }
      h2 {
        color: var(--white);
        margin: 3em;
        z-index: 10;
        text-wrap: balance;
      }
      .intro-image {
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
          border-radius: var(--radius);
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: linear-gradient(var(--petrol), transparent 50%);
          border-radius: var(--radius);
        }
      }
    }
  }
}
