.category {
  .post-container {
    margin-bottom: 5em;
  }
  .archive-title.h2 {
    padding-left: 0;
  }
  .post-title {
    margin-bottom: 0.5em !important;
    a {
      border: 0;
    }
  }
  .post-link {
    margin-top: 2em;
  }
  .category-sidebar {
    .category-sidebar-container {
      background-color: var(--light-blue);
      padding: 1.5em;
      margin-bottom: 2em;
      .category-list {
        margin: 1em 0;
        padding: 0;
        li {
          padding: 0;
          margin: 1.5em 0;
          a {
            border-bottom: 0;
          }
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 991px) {
  .category {
    .category-content {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 3rem;
    }
    .category-sidebar-container {
      position: sticky;
      top: 7.5em;
    }
  }
}
