.home {
  #primary {
    margin-bottom: 4em !important;
  }
  // #content {
  //   margin-top: 112px;
  // }
  .site-content {
    .home-introduction {
      padding: 0;
    }
  }
}
.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 0;
  margin-bottom: 5em;
  padding: 0;
  max-height: 500px;
  min-height: 220px;

  .hero-section-graphic,
  .hero-section-overlay,
  .hero-section-text {
    grid-area: 1 / 1 / 2 / 2;
  }

  .hero-section-graphic {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    justify-self: end;
  }

  .hero-section-overlay {
    background-color: rgb(2, 131, 162);
    // background: linear-gradient(90deg, rgba(0, 129, 162, 95%), rgba(28, 65, 83, 50%));
  }
  .hero-section-text {
    display: grid;
    align-items: center;
    max-height: 500px;
    h1 {
      margin: 0 !important;
      font-size: clamp(1.5rem, 0.69rem + 4.048vw, 3.625rem) !important;
    }
  }
}
// @media screen and (min-width: 991px) {
//   .hero-section {
//     margin-top: 6.7rem;
//   }
// }
// @media screen and (min-width: 1199px) {
//   .hero-section {
//     margin-top: 7rem;
//   }
// }
.home-services-section {
  padding-top: 2em;
  ul {
    margin-left: 0 !important;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 3em !important;
    .intro-image {
      img {
        border-radius: var(--radius);
        margin-bottom: 2em;
      }
    }
    aside {
      display: grid;
      grid-template-columns: 80px 1fr;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 0.25em;
    }
    &:before {
      display: none;
    }
    p {
      margin-bottom: 0.5em !important;
    }
    .service-link {
      a {
        display: inline-flex;
        align-items: center;
        svg {
          padding-left: 0.25em;
          width: 3em;
          height: 1.5em;
          stroke: var(--black);
        }
        &:hover {
          svg {
            fill: var(--petrol);
            stroke: var(--petrol);
          }
        }
      }
    }
  }
  .legal-service,
  .consulting-service {
    padding: 0 !important;
    img {
      max-width: 80px;
      border-radius: 8px;
      background-color: var(--white);
      padding: 0.5em;
      display: block;
      margin: 0 auto;
    }
  }
  // .legal-service img {
  //   background-color: $light_blue_color;
  // }
  // .consulting-service img {
  //   background-color: $dark_orange_color;
  // }
  h3 {
    padding: 0;
    font-size: 22px !important;
    line-height: 1 !important;
  }
}

@media screen and (min-width: 700px) {
  .home-services-section {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 5em;
      li {
        display: flex;
        flex-direction: column;
        .service-link {
          margin-top: auto;
        }
      }
      li:nth-child(1) {
        order: 0;
      }
      li:nth-child(2) {
        order: 2;
      }
      li:nth-child(3) {
        order: 4;
      }
      li:nth-child(4) {
        order: 6;
      }
      li:nth-child(5) {
        order: 1;
      }
      li:nth-child(6) {
        order: 3;
      }
      li:nth-child(7) {
        order: 5;
      }
      li:nth-child(8) {
        order: 7;
      }
      li:nth-child(9) {
        order: 9;
        grid-area: 5 / 2;
      }
    }
  }
}
@media screen and (min-width: 991px) {
  .home-services-section {
    h3 {
      font-size: 30px !important;
    }
  }
}

.latest-blogs {
  padding-top: 3em;
  .listing-item {
    margin-bottom: 2em !important;
  }
  .post-title {
    margin-bottom: 0.5em !important;
  }
  .excerpt {
    p {
      margin-top: 1.5em;
    }
  }
}
