.ast-separate-container #primary {
  padding-bottom: 0;
  padding-top: 0 !important;
}
.site-content .service {
  h2 {
    line-height: 1.2 !important;
  }
}
.service-introduction-container {
  .entry-header {
    margin-bottom: 6em;
  }
}
.service-introduction {
  padding: 5em 0 2em !important;
  .service-summary {
    border-bottom: 4px solid var(--white);
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 30px !important;
    line-height: 1.25 !important;
  }
  aside {
    figure {
      background-color: var(--white);
      border-radius: var(--radius);
      margin: 0 auto 2em;
      // width: 250px;
      // height: 250px;
      display: grid;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 300px;
      height: auto;
      aspect-ratio: 1;
      img {
        // width: 200px;
        max-width: 200px;
        aspect-ratio: 1;
        display: block;
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .service-introduction-block {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 3em;
    aside {
      figure {
        max-width: none;
        margin-bottom: 0;
        img {
          max-width: 250px;
        }
      }
    }
  }
}
.service-advantages {
  .service-advantages-header-container {
    background: linear-gradient(var(--light-blue) 50%, var(--petrol) 50%);
    padding: 2em 0;
    img {
      display: block;
      margin: 0 auto;
      border-radius: var(--radius);
      min-height: 240px;
      object-fit: cover;
    }
  }
  .service-advantages-container {
    padding-top: var(--vertical-spacing);
    padding-bottom: var(--vertical-spacing);
  }
  h2,
  h3,
  p {
    color: var(--white) !important;
  }
  h2 {
    margin-bottom: 2.5rem !important;
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    h3 {
      margin-bottom: 0.25rem !important;
    }
  }
  li {
    &:before {
      display: none;
    }
  }
}
@media screen and (min-width: 991px) {
  .service-advantages {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      li {
        display: flex;
        flex-direction: column;
        margin-bottom: 0 !important;
      }
      h3 {
        margin-bottom: 1.5rem !important;
      }
      p {
        margin-top: auto;
        margin-bottom: 0 !important;
        height: 7em;
      }
    }
  }
}
.our-services {
  padding-top: var(--vertical-spacing);
  padding-bottom: var(--vertical-spacing);
  //  padding: 2em 0 !important;
  .button-container {
    text-align: center;
    margin-top: var(--vertical-spacing);
  }
}
.services-accordion {
  .services-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  details {
    overflow: hidden;
  }
  details[open] {
    h3 {
      span {
        svg {
          transform: rotate(0);
          transition: transform 0.2s linear;
        }
      }
    }
    + div.services-accordion-content {
      max-height: 120em;
      transition: max-height 0.8s ease-out;
    }
  }
  summary {
    list-style: none;
    outline: 0;
    &:focus-visible,
    &:focus {
      outline: 0;
      h3 {
        color: var(--grey);
      }
    }
    &::-webkit-details-marker {
      display: none;
    }
    margin-bottom: 1rem;
    h3 {
      color: var(--white);
      position: relative;
      background-color: var(--petrol);
      border-radius: var(--radius-small);
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      transition: transform 0.2s linear;
      cursor: pointer;
      outline: none;
      span {
        svg {
          fill: var(--white);
          width: 20px;
          height: 20px;
          transform: rotate(180deg);
          transition: transform 0.2s linear;
        }
        margin-right: 1rem;
        display: inline-block;
      }
    }
  }
}

.services-contact-reference {
  padding-top: var(--vertical-spacing);
  padding-bottom: var(--vertical-spacing);
  //  padding: 6em 0 !important;
  p {
    &.h3 {
      margin-bottom: 1.5em !important;
    }
  }
}
.testimonials {
  // margin: 0 auto;
  // position: relative;
  padding-top: var(--vertical-spacing);
  padding-bottom: var(--vertical-spacing);
  //  padding: 2em 0 !important;
  .testimonials-container {
    position: relative;
  }

  li,
  ul,
  blockquote {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  blockquote,
  cite {
    line-height: 1.5;
    padding: 0 2em;
  }
  blockquote {
    margin-bottom: 1em;
    border: none;
    padding: 0;
    p {
      font-size: 20px !important;
      font-style: normal;
      color: var(--black);
      font-family: $font_family_montserrat;
      line-height: 1.5 !important;
      &:first-of-type {
        display: inline-block;
        margin-top: 1em;
        &:before {
          content: "“";
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: 4em;
          color: var(--mid-blue);
          line-height: 0.1;
          vertical-align: -0.25em;
          margin-right: 0.1em;
        }
      }
    }
  }
  li {
    &:hover {
      text-align: left !important; // override generic centre alignment of text on hover!
    }
  }
  .testimonial-set {
    --testimonial-gap: 0px;
    --displayed-slides: 1; // the number of testimonials on view. 1 on smaller screens - 2 on larger ones.
    margin: 0 auto 1em;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: var(--testimonial-gap);
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    li {
      &:before {
        display: none;
      }
      flex: 0 0 100%;
      background-color: #fff;
      border-radius: 6px;
      padding: 2em;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .slide-arrow {
    // display: grid;
    // justify-content: center;
    // align-items: center;
    border: 1px solid #222;
    border-radius: 999px;
    padding: 0;
    margin: 1em 0;
    cursor: pointer;
    background-color: #bbb;
    width: 50px;
    height: 50px;
    z-index: 2;
    visibility: visible;
    transition: visibility, 300ms ease-in-out;
    svg {
      width: 1.5em;
      height: 1.5em;
      fill: var(--mid-blue);
    }
  }
  #slide-arrow-prev {
    left: 0.5em;
    svg {
      transform: rotate(90deg);
    }
  }
  #slide-arrow-next {
    right: 0.5em;
    svg {
      transform: rotate(-90deg);
    }
  }
}
@media screen and (min-width: 768px) {
  .testimonials {
    .testimonial-set {
      width: 80%;
    }
    nav {
      display: block;
    }
    .slide-arrow {
      position: absolute;
      top: 50%;
      margin: 0;
    }
  }
}

@media screen and (min-width: 991px) {
  .testimonials {
    .testimonial-set {
      --testimonial-gap: 30px;
      --displayed-slides: 2;
      width: 85%;
      li {
        flex: 0 0 calc(50% - 15px);
      }
    }
  }
}

/***************************************/
//  SERVICES RESOURCES - See home.scss
/***************************************/
// .services-resources {
//   padding-top: var(--vertical-spacing);
//   padding-bottom: var(--vertical-spacing);
//   .matching-posts {
//     margin-left: 0;
//     hr {
//       margin-top: var(--vertical-spacing);
//       margin-bottom: var(--vertical-spacing);
//     }
//     img {
//       border-radius: var(--radius);
//     }
//   }
//   .matching-post {
//     // margin: 2em 0;
//     &:before {
//       display: none;
//     }
//     &:last-of-type {
//       + hr {
//         display: none;
//       }
//     }
//     h3 {
//       margin-bottom: 0.5em !important;
//       .title {
//         border-bottom: 0;
//       }
//     }
//     .post-image {
//       margin-bottom: 0.5em;
//     }
//   }
// }
// @media screen and (min-width: 48em) {
//   .services-resources {
//     .matching-posts {
//       .matching-post {
//         .post-content {
//           display: flex;
//           justify-content: space-between;
//           flex-direction: row;
//           > div {
//             flex: 0 1 48%;
//           }
//         }
//       }
//     }
//   }
// }
/***************************************/
//  SERVICES CONTACT FORM
/***************************************/
.services-contact-form,
.home-contact-form {
  padding-top: var(--vertical-spacing);
  padding-bottom: var(--vertical-spacing);
  // padding: 3em 0 !important;
  scroll-margin-top: var(--vertical-spacing);
  label,
  .data-notice,
  .data-notice a {
    color: var(--white) !important;
  }
  .data-notice {
    a {
      &:hover,
      &:focus {
        color: var(--grey) !important;
      }
    }
  }
  .contact-details {
    max-width: 360px;
    img {
      display: block;
      width: 100%;
      border-radius: var(--radius) var(--radius) 0 0;
    }
    aside {
      background-color: var(--white);
      padding: 1rem 1.5rem;
      border-radius: 0 0 var(--radius) var(--radius);
      margin-bottom: 3em;
      p,
      a {
        color: var(--black) !important;
      }
      p {
        &:last-child {
          margin-bottom: 0.5em;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .services-contact-form,
  .home-contact-form {
    .form-plus-contact {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;
      .contact-details {
        margin-top: 1.9rem;
        order: 2;
      }
    }
  }
}
