body.single-videos {
  #primary {
    float: none;
    width: auto;
  }
  h1 {
    margin-bottom: 0.5em;
  }
  .video-container {
    margin-bottom: 1.5em;
  }
}
.post-type-archive-videos,
.tax-video_categories {
  #primary {
    width: 100%;
  }
}
.link-disabled {
  a {
    pointer-events: none;
    opacity: 0.5;
    border-bottom: 0;
  }
  &.nav-previous {
    &::before {
      opacity: 0.5;
    }
  }
  &.nav-next {
    &::after {
      opacity: 0.5;
    }
  }
}
