#contact_section {
  padding-top: 90px;
  margin-top: -50px;
  .contact_form_wrap {
    padding: 0;
  }
  &:before {
    background: var(--mid-blue);
  }
  .contact_credits_wrap {
    background: var(--white);
    p {
      padding: 25px 20px 40px 20px;
      span {
        display: block;
        color: var(--black) !important;
        strong {
          color: var(--black) !important;
        }
        a {
          color: var(--black) !important;
        }
      }
    }
  }
}
