#contact_section {
  padding-top: 90px;
  margin-top: -50px;
  .contact_form_wrap {
    padding: 0;
  }
  &:before {
    background: $blue_color;
  }
  .contact_credits_wrap {
    background: $white_color;
    p {
      padding: 25px 20px 40px 20px;
      span {
        display: block;
        color: $black_color !important;
        strong {
          color: $black_color !important;
        }
        a {
          color: $black_color !important;
        }
      }
    }
  }
}
