.site-footer {
  background: var(--dark-blue);
  padding: 2em 0 1em;
  li,
  p,
  a {
    color: var(--white);
  }
  a {
    transition: color, text-decoration 0.2s ease-in-out;
    &:focus,
    &:hover {
      color: var(--light-blue);
      text-decoration: underline;
    }
  }
  .logo-social-media {
    figure {
      margin-bottom: 1.5em;
      img {
        max-width: 200px;
      }
    }
    .social-icons {
      display: flex;
      align-items: center;
      margin-bottom: 1.5em;
      li {
        background-color: var(--white);
        margin-right: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        transition: background-color 0.2s ease-in-out;
        &:focus,
        &:hover {
          background-color: var(--light-blue);
        }
        a {
          display: flex;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .footer-contact {
    margin-bottom: 3em;
    li {
      &:last-child {
        margin-top: 1.5em;
      }
    }
  }
  .final-footer {
    p,
    li {
      font-size: 0.8em !important;
    }
    .legal {
      display: flex;
      margin-bottom: 1em;
      li {
        &:first-child {
          margin-right: 1em;
        }
      }
    }
  }
}
@media screen and (min-width: 32em) {
  .site-footer {
    .logo-social-media {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .final-footer {
      .legal-copyright {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        p {
          margin-right: 1.5em;
        }
      }
    }
  }
}
@media screen and (min-width: 58em) {
  .site-footer {
    .final-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
