.site-footer {
  background: var(--dark-blue);
  .ast-footer-overlay {
    background: transparent;
  }
  .footer-adv-overlay {
    padding-top: 60px;
    padding-bottom: 120px;
    background: var(--dark-blue);
  }
  .ast-small-footer {
    border: unset;
  }
  /* Widgets */
  .footer-adv-widget {
    * {
      color: var(--white);

      a {
        &:hover,
        &:focus {
          color: $link_hover_color !important;
        }
      }
    }
    p,
    a {
      font-family: $font_family_montserrat !important;
      font-size: 16px !important;
      letter-spacing: 0 !important;
    }
    #text-2 {
      p {
        a {
          border-bottom: 2px solid var(--petrol);
        }
      }
    }
    #text-3 {
      a {
        img {
          width: 40px;
          height: 40px;
          float: left;
          max-width: 100%;
        }
      }
    }
  }
  /* Footer Social */
  .social-icon {
    color: var(--white);
    /*margin-right: 15px;*/
  }
  .social-icon img {
    margin-right: 15px;
  }
  .social-icon:focus img,
  .social-icon:hover img {
    opacity: 0.6;
  }
  .social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
  }
  .social-icons a {
    color: var(--white);
    text-decoration: none;
  }
  #menu-lumis-footer-menu {
    .current-menu-item:before {
      border: none;
    }
  }
}
