// .main-page-header {
//   background-color: var(--petrol);
//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }
//   .header-horizontal-menu {
//     display: none;
//   }
// }
header#masthead {
  //background: var(--mid-blue);
  background: linear-gradient(128deg, var(--mid-blue) 10%, #0e576d 52%);
  .main-header-bar {
    background-color: transparent;
    border-bottom-color: transparent;
    border-bottom-style: none;
    .left_aligned_top_bar {
      // width: 64%;
      width: 75%;
      padding: 0;
      .ast-site-identity {
        width: 100%;
        border-bottom: 4px var(--petrol) solid;
        align-items: flex-end;
        .site-logo-img {
          img {
            //width: fit-content;
            width: 259px;
            max-width: 259px;
            max-height: 100%;
          }
        }
        .ast_site_identity_text_right_link {
          border-bottom: 2px solid transparent;
          transition: all 0.2s linear;
          margin-bottom: -2px;
          &:hover,
          &:focus {
            border-bottom: 2px solid var(--link-hover-colour);
            .ast_site_identity_text_right {
              color: var(--link-hover-colour) !important;
              transition: all 0.2s linear;
            }
          }
        }
        .ast_site_identity_text_right {
          // font-family: $font_prompt_semibold;
          font-family: var(--font-family-headings-semibold);
          font-size: 20px;
          color: var(--white);
          transition: all 0.2s linear;
        }
      }
    }
    .right_aligned_top_bar {
      .main-header-bar-navigation {
        display: none;
        line-height: 1;
      }
      width: auto;
      .right_column_header_text {
        width: 100%;
        border-bottom: 4px var(--orange) solid;
        text-align: left;
        line-height: 1;
        padding: 1em 0;
        padding-top: 53px;
        transition: all 0.2s linear;
        a {
          border-bottom: 2px solid transparent;
          &:hover,
          &:focus {
            border-bottom: 2px solid var(--link-hover-colour) !important;
            transition: all 0.2s linear;
            span {
              color: var(--link-hover-colour) !important;
              transition: all 0.2s linear;
            }
          }
        }
        span {
          // font-family: $font_prompt_semibold;
          font-family: var(--font-family-headings-semibold);
          font-size: 20px;
          color: var(--white);
          padding: 1em 0;
        }
      }
    }
    .menu_desktop {
      &.sticky_desktop_header {
        position: fixed;
        width: 100%;
        //background: #0e576d;
        z-index: 10;
        // background: linear-gradient(176.43deg, #064f65 7.53%, #0e576d 69.46%);
        background-color: var(--dark-blue);

        //top: 0;
        /* left: auto; */
        /* right: auto; */
        left: 0;
        padding-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        // padding-left: 12px;
        // padding-right: 12px;
        .main-header-container {
          max-width: 1160px; // Make consistent with content container
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          margin: auto;
        }
        // .site-logo-img {
        // img {
        //max-width: 90px;
        // }
        // }
      }
    }
    .main-header-container {
      margin-bottom: 100px;
    }
  }
}

.small {
  max-width: 120px !important;
}
.rightcolpad {
  padding: 22px 0 1em !important;
}
.header_shadow {
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.5);
  @media (min-width: 992px) {
    .ast-site-identity,
    .right_aligned_top_bar {
      display: none;
      transition: 0.5s ease-in-out;
    }
    // .main-header-container {
    // .site-branding.left_aligned_top_bar {
    //width: 100%!important;
    // }
    // }
    .lumis-top-menu {
      li a {
        font-size: 14px !important;
        padding-top: 13px !important;
      }
      .sub-menu {
        top: 47px !important;
        min-width: 224px !important;
        padding: 0 9px !important;
        // li {
        // a {
        // }
        // }
      }
    }
  }
  //opacity: 0;
  @media (min-width: 992px) {
    .home_link {
      display: block !important;
    }
  }
}
/* Top nav test css */
.topnav,
#menu-lumis-top-menu-1 {
  //overflow: hidden;
  //background-color: #f1f1f1;
  list-style: disc;
  margin: 0;
  li {
    list-style: none;
  }
}

.topnav li,
#menu-lumis-top-menu-1 li {
  float: left;
  display: block;
  margin-right: 29px;
  border-top: 6px solid transparent;
  //top: -10px;
  position: relative;
  //border-bottom: 6px solid transparent;
  * {
    transition: font-weight 0.1s ease-in-out !important;
  }
  &:hover {
    &.menu-item-has-children {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        height: 6px;
        width: 100%;
        border-top: 6px solid var(--white);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        z-index: 10;
      }
      ul.sub-menu {
        display: block;
        filter: drop-shadow(6px 8px 17px rgba(0, 0, 0, 0.5));
      }
    }
  }
  a {
    &:focus {
      color: var(--link-hover-colour) !important;
      // + ul.sub-menu {
      //display: block;
      //filter: drop-shadow(6px 8px 17px rgba(0, 0, 0, 0.5));
      // }
    }
  }

  &:last-child {
    margin-right: unset;
  }
  ul.sub-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: var(--white);
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: 0;
    z-index: 10;
    padding: 25px 30px;
    border-top: 6px solid transparent;
    @media (min-width: 992px) {
      min-width: 250px;
    }
    li {
      float: unset;
      white-space: pre;
      width: 100%;
      margin: 5px 0;
      a {
        text-align: left;
        border-bottom: 2px solid var(--mid-blue);
        padding-bottom: 10px !important;
        padding: 0;
        color: var(--mid-blue);
        text-shadow: -0.4px -0.4px 0 transparent, 0.4px 0.4px transparent;
        font-weight: 400 !important;
      }
      &:last-child a {
        border-bottom: 0;
        padding-bottom: 0;
      }
      &:hover,
      &:focus {
        height: unset;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        background: unset;
        &:before {
          display: none;
        }
        a {
          // color: $submenu_link_hover_color;
          color: var(--submenu-link-hover-colour);
          //text-shadow: - .40px - .40px 0 $submenu_link_hover_color, .40px .40px $submenu_link_hover_color!important;
          font-weight: 900 !important;
        }
      }
      &.current-menu-item {
        height: unset;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        background: unset;
        &:before {
          display: none;
        }
        a {
          color: var(--mid-blue);
          //text-shadow: - .40px - .40px 0 var(--mid-blue), .40px .40px var(--mid-blue)!important;
          font-weight: 900 !important;
        }
      }
    }
  }

  &:hover,
  &:focus {
    a {
      //text-shadow: -.40px -.40px 0 var(--white), .40px .40px var(--white);
      font-weight: 900 !important;
      //letter-spacing: -2px;
    }
  }
  a {
    color: var(--white);
    text-align: center;
    //padding: 0;
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    display: block;
    // font-family: $font_family_montserrat;
    font-family: var(--font-family-copy-regular);

    text-shadow: -0.25px -0.25px 0 transparent, 0.25px 0.25px transparent;
    //outline: none	;
    padding-bottom: 25px;
  }
}

//.topnav li:hover {
//	border: 6px var(--petrol) solid;
//	border-bottom-left-radius: 5px;
//	border-bottom-right-radius: 5px;
//}

.border_active,
.current-menu-item {
  //height: 6px;
  //background: var(--petrol);
  //border-top: 6px var(--petrol) solid;
  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
  //text-shadow: -.40px -.40px 0 var(--white), .40px .40px var(--white);
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    height: 6px;
    width: 100%;
    border-bottom: 6px solid var(--petrol);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.current-menu-item {
  &:hover,
  &:focus {
    &:before {
      border-top: 0 !important;
    }
  }
  a {
    font-weight: 900 !important;
    //text-shadow: -0.4px -0.4px 0 #fff, 0.4px 0.4px #fff!important;
  }
}

.current_page_parent.current-menu-parent,
.current-menu-parent {
  a {
    font-weight: 900 !important;
  }
  &:hover,
  &:focus {
    &:before {
      border-top: 0 !important;
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    height: 6px;
    width: 100%;
    border-bottom: 6px solid var(--petrol) !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.topnav li:hover,
//li:hover,
.topnav li:focus,
#menu-lumis-top-menu-1 li:focus {
  text-align: center;
  transition: font-weight 0.1s ease-in-out !important;
  //height: 6px;
  //background: var(--petrol);
  ////border-top: 6px var(--petrol) solid;
  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    height: 6px;
    width: 100%;
    border-bottom: 6px solid var(--petrol);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: font-weight 0.1s ease-in-out !important;
  }
}

// #hero-section {
//   display: flex;
//   align-items: center;
//   margin-bottom: 60px;
//   padding-top: 110px;
//   .hero-section-img {
//     flex: 0 1 33%;
//   }
//   .hero-section-text {
//     flex: 0 1 62%;
//   }
//   h1 {
//     font-family: $font_family_montserrat;
//     font-size: 24px !important;
//     line-height: 28px !important;
//     letter-spacing: -0.5px;
//   }
// }
// @media screen and (min-width: 800px) {
//   #hero-section {
//     h1 {
//       font-size: 59px !important;
//       line-height: 72px !important;
//     }
//   }
// }

// @media screen and (min-width: 990px) {
//   #hero-section {
//     margin-bottom: 100px;
//     padding-top: 230px;
//     .hero-section-img {
//       flex: 0 1 25%;
//     }
//     .hero-section-text {
//       flex: 0 1 70%;
//     }
//   }
// }
