.single-post {
  // #primary {
  //   padding-top: 150px !important;
  // }
  .ast-article-single {
    padding: unset;
    margin-bottom: 2.5em;
  }
  .entry-header {
    margin-bottom: 1em;
    h1 {
      max-width: 740px;
      margin-left: auto;
      margin-right: auto;
    }
    .post-thumb-img-content {
      display: none;
    }
  }
  .ast-single-post-order {
    margin-bottom: 30px;
    margin-top: 50px;
    span {
      font-size: 20px;
      font-family: $font_family_montserrat;
      line-height: 20px;
      // font-style: italic;
      color: var(--black);
      &.single_post_date {
        font-weight: bold;
        margin-right: 7px;
        font-family: $font_montserrat_medium;
      }
      &.posted-by {
        // font-style: italic;
        a {
          border-bottom: 0;
        }
        // pointer-events: none;
      }
    }
    .entry-meta {
      display: block;
      color: var(--black);
      max-width: 740px;
      margin: auto;
      margin-top: 50px;
    }
  }

  .entry-content {
    max-width: 740px;
    margin: auto;
    h2,
    h3,
    h4 {
      margin-bottom: 52px;
      margin-top: 70px;
    }
    figure {
      img {
        border-radius: var(--radius);
      }
    }
    .call_to_action_with_icon {
      width: 100%;
    }
    .author-bio {
      border: 2px solid var(--mid-blue);
      padding: 1em 1.5em;
      p {
        line-height: 1.5;
      }
    }
    .blog-post-cta {
      border: 1px solid var(--mid-blue);
      padding: 2em 2em 3em;
      margin-bottom: 2em;
      h3 {
        margin: 0;
      }
    }
  }
}
@media screen and (min-width: 991px) {
  .single-post {
    .entry-header {
      h1 {
        max-width: 951px;
      }
    }
    .entry-content {
      figure {
        &.content_image {
          width: 951px;
          position: relative;
          left: 50%;
          right: 50%;
          margin-left: -475px;
          margin-right: -475px;
          margin-bottom: 50px;
        }
      }
    }
  }
}
