.lumis_button {
  a {
    border: none;
    padding: 10px 11px !important;
    text-align: center;
    line-height: 24px !important;
    font-family: Montserrat, sans-serif !important;
    margin: 4px 2px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: var(--radius);
  }
}
.lumis_button_orange {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  a {
    color: var(--black) !important;
    border-radius: 4px !important;
  }
  &:hover a,
  &:focus a {
    background-color: var(--orange) !important;
    color: var(--black) !important;
  }
}
.lumis_button_blue {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  a {
    color: var(--white) !important;
    border-radius: 4px !important;
  }
  &:hover a,
  &:focus a {
    background-color: var(--petrol) !important;
    color: var(--white) !important;
  }
}
.lumis_button_orange {
  .wp-block-button__link {
    &:hover,
    &:focus {
      background: var(--orange) !important;
      color: var(--black) !important;
    }
  }
}

.lumis-top-menu li:hover > ul,
.lumis-top-menu li.focus > ul {
  left: auto;
  right: 0;
}

/* The :focus-within selector is not recognized by IE/Edge. */
.lumis-top-menu li:focus-within > ul {
  left: auto;
  right: 0;
}

.lumis-top-menu ul ul li:hover > ul,
.lumis-top-menu ul ul li.focus > ul {
  left: auto;
  right: 100%;
}

/* The :focus-within selector is not recognized by IE/Edge. */
.lumis-top-menu ul ul li:focus-within > ul {
  left: auto;
  right: 100%;
}

.site-content {
  a,
  button {
    &.primary-button {
      background-color: var(--white);
      border: 2px solid var(--orange);
      color: var(--orange) !important;
      padding: 0.5em 0.75em;
      text-align: center;
      text-decoration: none;
      font-size: 1.25rem;
      font-size: clamp(1rem, 0.899rem + 0.505vw, 1.25rem) !important;
      font-family: $font_family_montserrat;
      font-weight: 600;
      border-radius: var(--radius);
      transition: background-color 0.4s ease-in-out;
      &:hover,
      &:focus {
        color: var(--white) !important;
        background: var(--orange);
      }
    }
    &.button-no-border {
      border: 0;
    }
    &.wide-button {
      padding: 0.5em 5em;
    }
  }
}
