.author-bio-container {
  border: 2px solid var(--mid-blue);
  padding: 1.5em;
  max-width: 740px;
  margin-inline: auto;
  .author-bio-photo {
    margin-bottom: 1em;
    img {
      margin-inline: auto;
      display: block;
      max-width: 450px;
      border-radius: var(--radius);
    }
  }
  p {
    line-height: 1.5 !important;
    font-size: 14px !important;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 680px) {
  .author-bio-container {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 1em;
    .author-bio-photo {
      img {
        max-width: 250px;
      }
    }
  }
}
