#wcb {
  text-align: right !important;
  #wcb_a {
    background-color: $light_blue_color !important;
    border-color: $light_blue_color !important;
    font-weight: normal !important;
  }
  #wcb_g {
    border-color: $white_color !important;
  }
  #wcb_2 {
    color: $white_color !important;
  }
}
