#wcb {
  text-align: right !important;
  #wcb_a {
    background-color: var(--petrol) !important;
    border-color: var(--petrol) !important;
    font-weight: normal !important;
  }
  #wcb_g {
    border-color: var(--white) !important;
  }
  #wcb_2 {
    color: var(--white) !important;
  }
}
