.frm-show-form {
  .frm_error,
  .frm_error_style {
    color: yellow;
    font-size: 20px;
    margin-bottom: 1em;
  }
}
.frm_form_fields {
  fieldset {
    border: 0;
    padding: 0;
  }
  div,
  p {
    margin-bottom: 1.7em;
  }
  label {
    display: block;
  }
  input,
  select,
  textarea {
    color: var(--black) !important;
    font-size: 20px;
    border-radius: var(--radius);
  }
  input {
    max-width: 400px;
    width: 100%;
  }
  select {
    width: 100%;
    line-height: 1.3;
    -webkit-appearance: initial; // Needed for Safari to include the padding on the select!
    appearance: initial;
  }
  textarea {
    max-height: 240px;
  }
  .notice-plus-submit {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    .data-notice {
      font-size: 15px !important;
      line-height: 20px;
      order: 2;
      margin-bottom: 0;
    }
    .frm_submit {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 991px) {
  .frm_form_fields {
    .frm_fields_container {
      margin-bottom: 0;
    }
    .notice-plus-submit {
      flex-direction: row;
      justify-content: space-between;
      .data-notice {
        margin: 0;
        flex: 0 1 calc(100% - 180px);
      }
      > div {
        flex: 0 0 160px;
        margin-bottom: 0;
      }
    }
  }
}
