.newsletter-signup {
  text-align: center;
  background-color: $blue_color;
  padding: 2em;
  margin-bottom: 2em;
  h3,
  p,
  label {
    color: $white_color;
  }
  h3,
  p.before-form {
    margin-bottom: 0.5em;
  }
  a {
    color: $white_color !important;
    &:hover,
    &:focus {
      color: $link_hover_color !important;
    }
  }
  .type-email,
  .type-email input,
  .type-policy_confirm {
    max-width: 45em;
    width: 100%;
    margin: 0 auto;
  }
  .type-email {
    margin-bottom: 2em;
    label,
    input {
      float: none;
    }
    label {
      display: block;
      text-align: left;
    }
  }
  .type-policy_confirm {
    margin-bottom: 1em;
    label {
      font-size: 16px !important;
      line-height: 1.5;
    }
  }
  .message-success,
  .message-error {
    padding: 1em;
    display: inline-block;
    margin: 1em;
    border: 2px solid;
  }
  .message-success {
    border-color: $light_orange_color;
  }
  .message-error {
    border-color: red;
  }
  button {
    background-color: $light_orange_color;
    color: $black_color;
    margin: 4px 2px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px !important;
    padding: 10px 11px !important;
    font-family: Montserrat, sans-serif !important;
    line-height: 24px !important;
    transition: all 0.2s linear;
    &:hover,
    &:focus {
      background-color: $dark_orange_color;
    }
  }
}

@media (max-width: 991px) {
  .newsletter-signup {
    .type-email {
      label {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }
    button {
      font-size: 16px !important;
    }
  }
}
