.sticked_post {
  &:before {
    top: 50% !important;
  }
  h3 {
    color: $blue_color !important;
    a {
      color: inherit !important;
      border: none;
      &:hover,
      &:focus {
        color: inherit !important;
      }
    }
  }
  .display-posts-listing {
    .listing-item {
      margin-bottom: 3em;
      .post_image {
        width: 93%;
        margin-bottom: 15px;
        margin-top: 0.5em;
        float: unset;
      }
      .post_details {
        width: 93%;
        padding: 0;
      }
    }
  }
}
