.newsletter-signup {
  text-align: center;
  background-color: var(--petrol);
  border-radius: var(--radius);
  padding: 2em;
  margin-bottom: 2em;
  h3,
  p,
  label {
    color: var(--white);
  }
  h3,
  p.before-form {
    margin-bottom: 0.5em !important;
  }
  a {
    color: var(--white) !important;
    &:hover,
    &:focus {
      color: $link_hover_color !important;
    }
  }
  .type-email,
  .type-email input,
  .type-policy_confirm {
    max-width: 45em;
    width: 100%;
    margin: 0 auto;
  }
  .type-email {
    margin-bottom: 2em;
    label,
    input {
      float: none;
    }
    label {
      display: block;
      text-align: left;
    }
  }
  .type-policy_confirm {
    margin-bottom: 1em;
    label {
      font-size: 16px !important;
      line-height: 1.5;
    }
  }
  .message-success,
  .message-error {
    padding: 1em;
    display: inline-block;
    margin: 1em;
    border: 2px solid;
  }
  .message-success {
    border-color: var(--light-orange);
  }
  .message-error {
    border-color: red;
    color: var(--white);
  }
  button {
    background-color: var(--orange);
    // border: 2px solid var(--orange);
    color: var(--white) !important;
    padding: 0.5em 0.75em;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: $font_family_montserrat;
    font-weight: 600;
    border-radius: var(--radius);
    transition: background-color 0.4s ease-in-out;
    &:hover,
    &:focus {
      color: var(--orange) !important;
      background: var(--white);
      // border-color: var(--orange);
    }
  }
}

@media (max-width: 991px) {
  .newsletter-signup {
    .type-email {
      label {
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }
    button {
      font-size: 16px !important;
    }
  }
}
